
<ion-view title="Account">
  <ion-content>
    <ion-list>
      <label class="item item-input item-floating-label"><span class="input-label">First Name</span>
        <input type="text" placeholder="First Name" ng-model="user.first"/>
      </label>
      <label class="item item-input item-floating-label"><span class="input-label">Last Name</span>
        <input type="text" placeholder="Last Name" ng-model="user.last"/>
      </label>
      <label class="item item-input item-floating-label"><span class="input-label">Email</span>
        <input type="email" placeholder="Last Name" ng-model="user.email"/>
      </label>
      <label class="item item-input item-floating-label"><span class="input-label">Phone</span>
        <input type="tel" placeholder="Phone" ng-model="user.phone"/>
      </label>
    </ion-list>
  </ion-content>
</ion-view>